
body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: hsl(0, 0%, 98%);
}
ul{
  margin: -1px 0px 0px -10px;
  background-color: black;
  color:hsl(0, 0%, 98%);;
  padding: 40px;
/*   position: fixed;/*  */
  /* margin-top: 100vh; */ 
  width: 100vw;
  margin-top: -20px
}
li{
  display: inline;
  margin-right: 40px;
  cursor: pointer;
}
li:hover{
  transition: 0.2s;
  color: rgba(138, 138, 138, 0.41);
}
.intro{
  margin-top: 70px;
  padding: 0px -13% 0px -13%;
  background-image: url(Ipolo.png);
  width: 1349px;
  height: 600px;
  background-position-x: 35px ;
  background-repeat:no-repeat(x);
  align-self: center;
}
main{
  padding: 0 13% 0 13%;
}
.pWhite{
  width: 100%;
  height: 380px;
}
.polo{
  display: grid;
  grid-template: 1fr / 1fr;
  width: 450px;
  height: 100px;
  text-align: center;
  line-height: 20px;
  
}
.polo:hover{
  opacity: 0.9;
  cursor: pointer;
}
/* Buypage */

.poloflex{
  width: 100%;
}
.flexDetails{
  display: grid;
  grid-template-columns: 58% 40%;
  justify-content: space-between;
  margin-top: -500px;

}
.chooseflex{
padding: 10px ;
}
.BuyPage p:nth-child(3){
  font-size: x-large;
  margin-top: -1px;
}
.BuyPage p:nth-child(4){
  font-size: small;
  color: rgb(52, 51, 51);
}
/* Ipolo´s description */
p:nth-child(2){
  font-weight: 500;
}
p:nth-child(3){
  font-size: small;
  font-weight: 700;
}
p:nth-child(4){
  font-size: x-small;
  line-height: 3px;
  margin-top: -7px;
}
p:nth-child(5){
font-weight: 500;
}
p:nth-last-child(3){
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 5px;
}
p:nth-child(7){
font-weight: 500;
}
/* Colors radio */
.colors > input[type='radio']{
  appearance: none;
  -webkit-appearance: none;
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  border: 1px gray solid;
  margin-right: -10;
  margin-top: -10px;
}
.colors input[type='radio']:checked{
  border: 3px black solid;
}
input[type='radio']:nth-child(2){
  background-color: yellow;
}
input[type='radio']:nth-child(3){
  background-color: aqua;
}
input[type='radio']:nth-child(4){
  background-color: green;
}
input[type='radio']:nth-child(5){
  background-color: orangered;
}
/* sizes radio */

.sizes > input{
  appearance: none;
}
.sizes > label{
  border: 1px gray solid;
  border-radius: 5px;
  padding: 10px;
  margin-right: 7px;
  font-weight: bold;
}
.sizes > input[type='radio']:checked + label{
  border: 2px black solid;
}
.sizes > input[type='radio']:hover + label{
  cursor: pointer;
}
input[type='number']{
  width: 30px;
  margin-left: 8px;
}
button{
  margin-top: 20px;
  background-color: rgb(9, 173, 53);
  width: 100%;
  border:none ;
  color: white;
  padding: 10px;
}
.description{
  margin-top: 20px;
  columns: 2;
  border
}








































.BuyPage{
  margin-top: 600px;
}
